In [1]:
from trainer import AutoTrainer

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         1 min 11 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    24 days
H2O_cluster_name:           H2O_from_python_ubuntu_bqvalg
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    8 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.0 final
--------------------------  ------------------------------------------------------------------

In [2]:
trainer = AutoTrainer(datapath='data/train.csv', task='classify')

In [3]:
trainer.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
trainer.data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
trainer.set_label('Survived')

2021-11-01 08:27:15.103 | INFO     | trainer:set_label:33 - Setting label to : Survived

In [6]:
trainer.clean_data()

2021-11-01 08:27:17.429 | INFO     | trainer:clean_data:46 - Dropping missing labels
2021-11-01 08:27:17.433 | INFO     | trainer:clean_data:49 - Encoding categorical values for H2O
2021-11-01 08:27:17.438 | WARNING  | trainer:clean_data:78 - Found invalid datatype in Name column. Ignoring this column
2021-11-01 08:27:17.443 | WARNING  | trainer:clean_data:78 - Found invalid datatype in Ticket column. Ignoring this column
2021-11-01 08:27:17.445 | WARNING  | trainer:clean_data:78 - Found invalid datatype in Cabin column. Ignoring this column
2021-11-01 08:27:17.447 | INFO     | trainer:clean_data:88 - Shortlisting selected features and extracting labels
2021-11-01 08:27:17.449 | INFO     | trainer:clean_data:91 - Imputed and flagged missing data
2021-11-01 08:27:17.450 | INFO     | trainer:clean_data:92 - Categorical Columns Identified : ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']
2021-11-01 08:27:17.450 | INFO     | trainer:clean_data:93 - Finalise and set categorical columns using .set_categorical if you wanna change this list

In [7]:
trainer.data.head()

,PassengerId,Pclass,Sex,Age,Age_imputed,SibSp,Parch,Fare,Embarked,Embarked_imputed,Survived
0,1,3,male,22.0,0,1,0,7.2500,S,0,7abb49967b14867b
1,2,1,female,38.0,0,1,0,71.2833,C,0,6e4b059f016fa539
2,3,3,female,26.0,0,0,0,7.9250,S,0,6e4b059f016fa539
3,4,1,female,35.0,0,1,0,53.1000,S,0,6e4b059f016fa539
4,5,3,male,35.0,0,0,0,8.0500,S,0,7abb49967b14867b

In [8]:
trainer.set_categorical(['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'])

In [10]:
trainer.initiate(runtime=60, index_column='PassengerId')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%

('/home/ubuntu/auto-ml/models/GBM_3_AutoML_2_20211101_82850',
 {'model_id': 'GBM_3_AutoML_2_20211101_82850',
  'auc': 0.870684139131325,
  'logloss': 0.4174736038579009,
  'aucpr': 0.8917185873853662,
  'mean_per_class_error': 0.2129797889312619,
  'rmse': 0.3598752676506595,
  'mse': 0.1295102082666338})